body{
    background-color: #A0A0A4;;
    font-family: Bahnschrift;
}
 
p.text
	{
		text-align: center;
		position: relative;
		padding: 10px;
		font-family: Bahnschrift;
		color:#FFFBF0;
		font-size: 27px;
		margin: 40px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: 35px;
		background: #000;
	}

	input
	{
		background: #000;
		color: #FFF;
		//display: block;
		margin: 1% 0;

	}

	input:hover
	{
		background: #124;
		cursor: pointer;
	}

	button:focus
	{ border: 1px solid white;  }

	button
	{
		display: block;
		font-size: 1em;
		background: #000;
		color:#FFF;
		border:none;
		width: 7%;
		height: auto;
		border-radius: 50%;
		margin: 0% 14%;
	}

	button:hover
	{
		background: #124;
		cursor: pointer;
	}