body{
    background-color: #A0A0A4;;
    font-family: Bahnschrift;
}
 
p.text
	{
		text-align: center;
		position: relative;
		padding: 10px;
		font-family: Bahnschrift;
		color:#FFFBF0;
		font-size: 27px;
		margin: 40px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: 35px;
		background: #000;
	}