*
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
		header
	{
		position: relative;
		margin: 20px auto;
		width: 1000px;
		height: 120px;
		border-radius: 15%;
		
		
		
	}
	
	header .sinada
	{
		position: absolute;
		top: 10px;
		left: 30px;
		width: 185px;
		height: 95px;
		background: #2A1FFF;
		
	}
	
	.inicial
	{
		position: absolute;
		top: 30px;
		right: 390px;
		width: 200px;
		height: 60px;
		line-height: 60px;
		font-family: Bahnschrift;
		font-size: 28px;
		text-align: center;
		color: #000;
		
	}
	
	header .eslogan
	{
		position: absolute;
		text-align: -webkit-center;
		width: auto;
		height: auto;
		top: 20px;
		left: 55px;
		font-family: Bahnschrift;
		font-size: 18px;
		color: #000;
	}
	
	.mensaje
	{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 300px;
		height: 80px;
		
		border-radius: 50%;	
	}
	
	
	body
	{
		background: #A0A0A4;
	}
	
		.productos
	{
		position: relative;
		margin-top: 10px;
		width: auto;
		height: 250px;
		background: #000;
		
	}
	
		p.text
	{
		text-align: center;
		position: relative;
		padding: 10px;
		font-family: Bahnschrift;
		color:#FFFBF0;
		font-size: 27px;
		margin: 40px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: 35px;
		background: #000;
	}
	
	p.principal
	{

		text-align: center;
		position: relative;
		padding: 10px;
		font-family: Bahnschrift;
		font-size: 30px;
		font-weight: bolder;
		color: black;
		margin: 40px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: 35px;
		
	}

	
	
	#doble
	{
		position: relative;
		width: auto;
		height: 500px;
		background: #000;
	}
	
	#doble table
	{
		position: absolute;
		top: 18px;
		height: auto;
		width: auto;

	}
	
	table
	{
		position:absolute;
		top: 7px;
		height:auto;
		width: auto;
		border-collapse: collapse;
		border: solid 2px black;
	}

	td
	{
		width: 220px;
		height: 220px;
		padding: 0;
		text-align: center;
		border: solid 8px;
		background-color: #FFFF;
	}
	td p{font-family:Bahnschrift; font-size: 14px; }

	td img
	{
		height: 130px;
		width: 130px;
	}
	